* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

#ryu {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 100px;
}

#hadouken {
    position: absolute;
    bottom: 60px;
    left: 150px;
    width: 50px;
    display: none;
}
